.table-wrapper {
    max-width: 1000px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none; 
}

th,
td {
    padding: 10px;
    text-align: center;
}
td{
    border: none;
    border-bottom: 1px solid #11A44c;
}

thead {
    background-color: #f4f4f4;
}

.first-head,
.last-head {
    width: 10%;
}

.edit-btn,
.delete-btn {
    cursor: pointer;
    width: 25px;
    margin-right: 10px;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 0.7;
}
